@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;

  --clr-light: #dad7cd;
  --clr-grn1: #a3b18a;
  --clr-grn2: #588157;
  --clr-grn3: #3a5a40;
  --clr-grn4: #344e41;
  --clr-pink: rgba(214, 180, 180, 30%);
  --clr-err: rgb(146, 29, 29);
  --clr-shadow: rgba(0, 0, 0, 30%);
  --trans: .4s ease;
}

/* === BASE STYLES === */

#root,
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root,
main,
header,
form {
  width: 100%;
}

main,
header {
  max-width: 272px;
}

h1,
h3,
.btn {
  text-transform: uppercase;
}

h1,
h3 {
  text-shadow: 0px 4px 4px var(--clr-shadow);
  color: var(--clr-grn3);
}

a:link,
a:visited,
.main-cont,
.btn {
  color: var(--clr-grn4);
}

select,
input,
.btn {
  border: none;
}

.btn,
.validation-err {
  font-weight: 700;
}

.btn:hover,
input[type='radio'],
select,
label {
  cursor: pointer;
}

input,
select,
.validation-err {
  margin-top: .5rem;
}

input,
select {
  height: 2.5rem;
  padding-inline: .5rem;
  border-radius: 5px;
}

.validation-h3,
.validation-err {
  color: var(--clr-err);
}

ul,
.validation-err {
  list-style: none;
}

span.validation-err,
a {
  text-decoration: none;
}

body {
  padding-inline: 1.5rem;
}

main {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.5rem;
}

.main-cont {
  margin-top: 15vh;
  text-align: center;
}

.main-cont.higher {
  margin-top: 8vh;
}

.main-cont.highest {
  margin-top: 3vh;
}

.btn {
  padding: .5rem;
  border-radius: 35px;
  background-color: var(--clr-grn1);
  transition: background-color var(--trans), color var(--trans), box-shadow var(--trans);
}

.btn:hover {
  box-shadow: 2px 4px 4px 0 var(--clr-shadow);
  background-color: var(--clr-grn2);
  color: var(--clr-light);
}

.cancel-btn {
  border: 2px solid var(--clr-grn4);
}

form {
  margin-top: 3rem;
}

input[type='radio'] {
  margin: 0 2rem 0 .5rem;
}

label {
  text-align: left;
  font-size: 1.25rem;
}

.validation-div {
  margin-top: 2rem;
}

.validation-err {
  text-decoration: underline;
}

body,
.cancel-btn {
  background-color: var(--clr-light);
}

/* === HEADER === */

.welcome-line-hdr,
.user-name {
  font-weight: 700;
}

nav,
.nav-btn {
  display: flex;
  align-items: center;
}

header {
  padding-block: 1rem;
}

nav {
  justify-content: flex-end;
}

.nav-btn {
  justify-content: center;
  padding-block: .05rem;
}

.nav-btn:last-of-type {
  margin-left: 1rem;
}

.welcome-line-hdr {
  color: var(--clr-grn4);
}

.user-name {
  color: var(--clr-grn2);
}

/* === WELCOME PAGE === */

.welcome-p,
.home-btn {
  margin-top: 3rem;
}

.home-btn {
  width: 256px;
  height: 66px;
}

/* === SIGN IN / SIGN UP === */

label:last-of-type,
.change-div {
  margin-top: 2rem;
}

.signin-btn-div,
.change-div {
  width: 100%;
}

.submit-btn,
.cancel-btn,
.change-btn {
  height: 2.5rem;
}

.submit-btn,
.cancel-btn {
  width: 48%;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.signin-btn-div {
  margin-top: 3rem;
}

.submit-btn {
  margin-right: .5rem;
}

.change-btn {
  width: 50%;
  margin-top: 1rem;
}

/* === BROWSE PAGE === */

.recipe-li {
  margin-top: 1.5rem;
}

.recipe-li a {
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: underline;
  color: var(--clr-grn4);
  transition: color var(--trans);
}

.recipe-li a:hover {
  color: var(--clr-grn2);
}

/* === DETAIL PAGE === */

.details-cont p,
.detail-btn-div .btn {
  margin-top: 1rem;
}

.detail-btn-div,
.accordion-header {
  display: flex;
}

.details-cont {
  width: 100%;
  text-align: left;
}

.mrkdn-ing-list li {
  list-style: disc;
}

.mrkdn-dir-list li {
  list-style: decimal;
}

.detail-name {
  font-weight: 700;
}

.detail-btn-div {
  flex-direction: column;
}

.accordion-header {
  align-items: flex-end;
  margin-bottom: .5rem;
}

.acc-header {
  margin-right: 2rem;
}

.accordion-btn {
  padding-block: 0;
}

.accordion-body {
  display: none;
  padding: .5rem .5rem .5rem 1.75rem;
  border-radius: 10px;
  color: var(--clr-light);
  background-color: var(--clr-grn3);
}

.accordion.active .accordion-body {
  display: block;
}

/* === CREATE / EDIT PAGE === */

.create-edit-form label,
.create-edit-form p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0;
}

.create-edit-form input[type='text'],
.create-edit-form select {
  width: 100%;
}

.label-input-div,
.label-radio-div,
.all-ingredients-cont,
.all-directions-cont,
.ing-dir-cont {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.label-input-div,
.label-radio-div,
.all-ingredients-cont,
.all-directions-cont {
  border-bottom: 2px solid var(--clr-grn1);
}

.ing-dir-cont:last-of-type,
.label-input-div.no-bottom-border {
  padding-bottom: 0;
  border: none;
}

.label-radio-div,
.label-input-div,
.input-select-div,
.ing-dir-cont {
  display: flex;
}

.label-input-div,
.ing-dir-cont {
  flex-direction: column;
}

.input-select-div,
.label-radio-div {
  align-items: center;
}

.create-edit-form {
  margin-top: 2rem;
  text-align: left;
}

.label-input-div button {
  margin-block: .5rem;
}

.label-radio-div {
  justify-content: center;
}

.input-select-div {
  margin-top: .5rem;
}

.input-select-div input {
  margin: 0 .5rem 0 0;
}

.input-select-div select {
  margin: 0;
}

.ing-dir-cont {
  border-bottom: 1px dotted var(--clr-grn1);
}

.ing-dir-cont .input-select-div {
  margin-bottom: .5rem;
}

.cancel-btn.remove {
  width: inherit;
  margin-top: 1rem;
  color: var(--clr-err);
}

.cancel-btn.remove:hover {
  background-color: var(--clr-pink);
}

/* === CONFIRM DELETE / FORBIDDEN / NOTFOUND === */

.info-p {
  margin-block: 1.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  main,
  header {
    max-width: 700px;
  }

  .details-cont {
    width: 50%;
  }
}